<% if session[:user]%>
<a href="/new">友達登録</a>
<table>
<thead>
　<tr>
  <th>友達</th>
　<th>誕生日</th>
　<th>もらった?</th>
　<th>プレゼント</th>
  <th>あと何日?</th>
  </tr>
</thead>

  <% @friends.each do |friend| %>
  <tr>
    <td><%= friend.friend_name %></td>
    <td><%= friend.friend_birthday%></td>
    <td>
  <div style="
  <% if friend.given %>
    background-color:red;
  <% else %>
    background-color:white;

  <% end %>

  border: 1px solid black;
  border-radius :100px;
  width :10px;
  height :10px;
  display:block;

  "></div>
    </td>

    <td><%= friend.present %></td>

    <td><%= friend.friend_days %></td>
  </tr>

  <% end %>
</table>
<% end %>