<form action="/friends" method="post">
  <input type="text" name= "friend_name" placeholder="お友達の名前"><br>
  <input type="text" name="friend_birthday" placeholder="お友達の誕生日">


  <a href="/new/given" style="
  <% if @friend.given %>
    background-color:red;
  <% else %>
    background-color:white;

  <% end %>

  border: 1px solid black;
  width :10px;
  heitht :10px;
  display:block;

  "></a>
  <input type="text" name="present" placeholder="プレゼント">
  <input type="submit" value="送信">


</form>