<form action="/friends" method="post">
  <input type="text" name= "friend_name" placeholder="お友達の名前"><br>
  <input type="text" name="friend_birthday" placeholder="お友達の誕生日"><br>
  <input type="radio" value="true" name="given" checked>もらった
  <input type="radio" value="false" name="given">もらってない<br>
  <input type="text" name="present" placeholder="プレゼント"><br>
  <input type="submit" value="送信">


</form>