<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">

  <title>Document</title>
</head>
<body>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">

  <title>Document</title>
</head>
<body>
<h2 class="title2">Everyday is Birthday</h2>

<h3 class="complete">認証OK タブを閉じてください</h3>
<div class="container">
<div class="back">
<img class="qr" src=/image/qr_line.png
>
</div>
</div>
</body>
</html>



</body>
</html>
