* {
  margin: 0;
  padding: 0;

}

body {

  background-color: #EDCD82;

}

a {

  text-decoration: none;
  color: #503D3F;

  transition: 0.3s;
}

a:hover {

  border-bottom: solid 2px #3D0814;

}

.image {
  display: none;
}

.cake {
  display: none;


}

.titles {
  width: 100vw;
  display: flex;
}

.title {

  color: #3D0814;
  font-family: 'Yanone Kaffeesatz',
    sans-serif;

  font-size: 15px;

  text-align: center;

}


.links {
  display: flex;



  margin-top: 10vh;


}

.link {
  justify-content: center;
}

.cake_mobile {
  width: 100vw;
  height: 30vh;


}