* {
  margin: 0;
  padding: 0;

}

body {

  background-color: #EDCD82;

}

a {

  text-decoration: none;
  color: #503D3F;

  transition: 0.3s;
}

a:hover {

  border-bottom: solid 2px #3D0814;

}

.image {
  display: none;
}

.cake {
  display: none;


}

.titles {
  margin-top: 10vh;
  width: 100vw;
  display: flex;
}

.title {

  color: #3D0814;
  font-family: 'Yanone Kaffeesatz',
    sans-serif;

  font-size: 25px;

  text-align: center;

}


.links {

  width: 100vw;
  display: flex;



  margin-top: 10vh;


}

.link {
  justify-content: center;

}

.cake_mobile {
  width: 100vw;
  height: 30vh;



}

th {

  padding: 10px;
  width: 100vw;
  font-size: 20px;

}

td {

  padding: 10px;
  text-align: center;
  color: #3D0814;
  background-color: #FEEAFA;


}

tr {
  background: #FEEAFA;
}

.log_title {
  color: #FEEAFA;
  font-family: 'M PLUS Rounded 1c',
    sans-serif;


  font-size: 15px;

}

.log_link {
  font-family: 'M PLUS Rounded 1c',
    sans-serif;
  color: #FEEAFA;
}

.log_links {
  margin-top: 5vh;

}

.web_title {

  float: left;
  font-family: 'Yanone Kaffeesatz',
    sans-serif;
  margin-left: 3vw;
  margin-top: 1vh;
  font-size: 30px;
}

.namae {
  font-size: 10px;
}

.day {
  font-size: 10px;
}

.pre {
  font-size: 10px;
}